
<footer class="footer container-fluid">
  <div class="row">

    <div class="col-md-12">
 
      <ul class="nav justify-content-center mt-5">
        
        <li class="nav-item" >
          <p>
            RonCachicamo 2020
          </p>
        </li>
      </ul>
       
       
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
        <ul class="nav justify-content-center my-2">
    
          <li class="nav-item" >
            <p >
              Please do not share with anyone under the legal purchase age for alcohol. Drink Responsibly.
            </p>
          </li>
        </ul>
       
    </div>
  </div>
 
</footer>
